.country {
  border: 2px solid rgb(255, 0, 191);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.country-visited {
  border-color: rgb(52, 117, 240);
  /* background-color: rgb(77, 1, 77); */
  background-color: rgb(52, 117, 240);
}
